.env
.env.local
.env.*.local

/vendor/
composer.lock

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
